<!DOCTYPE html>
<html lang="ja">
<html>
    <head>
      <title>はてなにゃん情報局</title> 
      <style>
      @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
      </style>
      <link rel="stylesheet" href="/static/css/style.css">
      <meta name="viewport" content="width-device-width, initial-scale-1">
      <meta property="og:url" content="https://www.hatenabot.cf">
      <meta property="og:type" content="website">
      <meta property="og:title" content="はてなにゃん情報局">
      <meta property="og:description" content="はてなにゃん情報局公式ホームページ">
      <meta property="og:image" content="https://cdn.discordapp.com/attachments/818817278912626718/858598638287716392/BD66CB25-4D3B-4FD1-A4AC-A9C8B554D9C8.webp">
      <link rel="icon" type="image/png" href="https://cdn.discordapp.com/icons/774477394924666890/67c0881e8fe6d4a20e4fb5d8f5f22dd9.webp?size=1024">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <script data-ad-client="ca-pub-8102171358303112" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
      <header class="page-header">
        <h1 class="logo"><a href="https://www.hatenabot.cf/">はてなにゃん情報局</a></h1>
        <nav>
          <ul class="main-nav">
            <li class="page-li"><a href="https://www.hatenabot.cf/news">ニュース</a></li>
            <li class="page-li"><a href="https://www.hatenabot.cf/help">コマンド</a></li>
            <li class="page-li"><a href="https://www.hatenabot.cf/status">ステータス</a></li>
            <li class="page-li"><a href="https://www.hatenabot.cf/about">開発者</a></li>
            <li class="page-li"><a href="https://www.hatenabot.cf/form">フォーム</a></li>
          </ul>
        </nav>
      </header>
      {% block content %}
      {% endblock %}
      <footer class="foot">
        <p><small class="DMS">&copy; 2021 DMS</small></p>
      </footer>
    </body>
</html>